pre {
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  
  .editor-pattern {
    color: #bbb;
    letter-spacing: 0.05em;
  }
  
  .editor-del {
    text-decoration: line-through;
  }
  
  .editor-em {
    font-style: italic;
  }
  
  .editor-strong {
    font-weight: bold;
  }
  
  .editor-h1 {
    font-size: 2em;
    font-weight: bold;
  }
  
  .editor-h2 {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .editor-h3 {
    font-size: 1.25em;
    font-weight: bold;
  }
  
  .editor-h4 {
    font-size: 1.1em;
    font-weight: bold;
  }
  
  .editor-h5 {
    font-size: 1em;
    font-weight: bold;
  }
  
  .editor-h6 {
    font-size: 0.9em;
    font-weight: bold;
  }
  
  .editor-code {
    font-family: Consolas, Monaco, "Andale Mono", monospace;
    font-size: 0.9em;
    border-radius: 4px;
    color: #333;
  }
  
  .editor-blockquote {
    color: #999;
  }
  
  .editor-sup {
    vertical-align: super;
    font-size: smaller;
  }
  
  .editor-sub {
    vertical-align: sub;
    font-size: smaller;
  }
