.layout-left {
    display: flex;
    flex-direction: column;
    background-color: #e9e9e9;
    width: 200px;
    height: 100vh;
    font-size: 0.9em;
    z-index: 0;
    user-select: none;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  .layout-left .button-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #ccc;
  }
  
  .layout-left ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  
  .layout-left li {
    position: relative;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
  }
  
  .layout-left li:hover {
    background-color: #ddd;
  }
  
  .layout-left li.selected {
    background-color: #93c831;
    color: #fff;
  }
  
  .layout-left button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
  }
  
  .layout-left button:hover {
    background-color: #ddd;
  }
  